
p {
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: Arial;
}

.input-box{
    border-radius: 8px;
    border-style: solid;
    border-color: darkgreen;
    padding: 5px;
    width: 450px;
}

.submit-button{
    margin-top: 10px;
    margin-left: 2px;
    background-color: #639377;
    color: white;
    border: 1px solid white; 
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.submit-button:hover{
    opacity: 50%;
}

.submit-button:active{
    background-color: white;
}

#description{
    width: 250px;
    height: 20px;
    border: 2px solid #639377;
}

.example{
    background-color: #639377;
    border-radius: 15px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.div-3{
    margin-top: 20px;
    background-color: #639377;
    height: 420px;
    border-radius: 15px;
}

.input-info-box{
    background-color: #639377;
    margin-right: 15px;
    padding-left: 5px;
    padding-bottom: 15px;
    border-radius: 15px;
}

.amount-for-the-month{
    height: 20px;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    margin-bottom: 5px;
}

.text-color{
    color:white;
    line-height: 25px;
}



.top-menu{
    background-color:#639377;
    height: 50px;
    margin-bottom: 10px;
    display:grid;
    grid-template-columns: 720px 1fr;
}


.email-tab{
    margin-top: 10px;
    height: 100px;
}

.email-info{
    margin-top: 10px;
}



.amount{
    background-color: #639377;
    border-radius: 10px;
}

.final-submit-button{
    height: 100px;
    width: 390px;
    margin-top: -8px;
    background-color: #ffffff;
    font-size: large;
    color:#639377;
    border: 5px solid #639377;
    border-radius: 40px;
    cursor: pointer;
}

.final-submit-button:hover{
    background-color: #639377;
    color: white;
    border: 5px solid;
}

.user-information{
    border-radius: 15px;
    margin-left: 20px;
}

